.logo {
  height: 300px;
  width: 280px;
}
.bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  margin: 6px;
}
.weblogo {
  height: 80px;
  width: 120px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-self: center;
}
.submitbtn {
  background-color: blue;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 6px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  box-shadow: darkgray;
}
